{% load staticfiles %}
<!--DOCTYPE html -->
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="http://faviconka.ru/ico/faviconka_ru_1181.png" rel="icon" type="image/png" />

<title>{% block head_title %}Sasha's blog{% endblock head_title %}</title>

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

 
<!-- Bootstrap core CSS -->
<link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="{% static 'css/navbar-top.css'%}" rel="stylesheet">




<link rel='stylesheet' href='{% static "css/base.css" %}' />
<style>
{% block style %}{% endblock style %}
</style>
</head>


<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark mb-4 ">
	<a class="navbar-brand row justify-content-start" href="#"><h3>Alexandra Patrina</h3></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="http://fsash.pythonanywhere.com/"><h2>Home</h2></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" target="blank" href="https://vk.com/wolfsherri"><h2>Contact</h2></a>
    </li>
  </ul>

</nav>

{% include "messages_display.html" %}
<div class='container'>
{% block content %}{% endblock content %}
</div>





  


<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="https://getbootstrap.com/assets/js/vendor/popper.min.js"></script>
    <script src="https://getbootstrap.com/dist/js/bootstrap.min.js"></script>

</body>
</html>




  

   

    
  
