{% extends "base.html" %}
{% block content %}

<main role="main" class="container">
    <div class="jumbotron">
        <h1>Hello everyone! This is my blog.</h1>
        <p class="lead">Here you can find the variety of my selected works on divergent themes.</p>
        <p class="lead">
        This form below will help you to find the exact post you want.</p>
    

<form method='GET' action=''>
<input type='text' name='q' placeholder='Search posts' value='{{ request.GET.q }}'/>
<input type='submit' value='Search' />
</form>

</div>
    </main>



{% for obj in object_list %}
<hr>

<div class="row">
        <div class="col-md-14">
        <div class="thumbnail">
          {% if obj.image %}
            <img src='{{ obj.image.url }}' class="img-fluid"/>
            {% endif %}
            
            <div class="card-text mb-auto">
              
              {% if obj.draft %}<h3 style="color: #FF0000">Staff Only: Draft</h3>{% endif %} {% if obj.publish > today %}<h3 style="color: #FF0000">Staff Only: Future Post</h3>{% endif %}
                <h3><a style="color: #0489B1" href='{{ obj.get_absolute_url }}'>{{ obj.title }}</a></h3>
              
              <div class="mb-1 text-muted">{{ obj.publish }}</div>
              <p class="card-text mb-auto">{{ obj.content|linebreaks|truncatechars:120 }}</p>
              <p><a href="{{ obj.get_absolute_url }}" class="btn btn-primary" style="background-color:#0489B1" role="button">Continue reading</a></p>
            </div>
          </div>
          </div>
          </div>
          </hr>
        
        {% endfor %}
        

<br>
<br>



<div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a class="btn btn-primary" style="background-color:#A9A9A9" role="button" href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a class="btn btn-primary" style="background-color:#A9A9A9" role="button" href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
        {% endif %}
    </span>
</div>
</div>
<br>
<br>
<br>
<br>


{% endblock content %}
